/* Write your CSS here! */
body {
margin: 8px;
display: block;
}

h3{
text-decoration: underline;
text-decoration-color: lightslategray;
}

p {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mainHeading {
color: red;
font-family: monospace;
text-align: center;
}

.funParagraph#testP {
color: green;
}

#degree {
color: rgb(0, 128, 0);
padding: 10px;
}

#experience {
padding:25px 25px 25px 25px;
}

#skills {
padding: 25px 25px 25px 25px;

}

article {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

img{
border-radius: 50%;
display: block;
margin-left: auto;
margin-right: auto;
/* width: 50%; */
}